.navbarToggle {
    border: none !important;
}

.navbarToggle:focus {
    outline: none;
}

.navCategory {
    font-size: 15px;
    width: 180px;
    height: 40px;
    background-color: #1271dd;
    color: #ffffff;
    border: #1271dd;
}
.navCategory:focus, .inputBtn:focus, .navCabinet {
    outline: none !important;
}
.navCategory:hover, .inputBtn:hover, .navCabinet:hover {
    background-color: rgb(56, 143, 255);
}

.navInputGroup {
    width: 47%;
}

input[type=text] {
    border: 2px solid #1271dd;
}

input[type=text]:focus {
    border: 2px solid #1271dd;
    outline: 0;
    -webkit-appearance: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.inputBtn {
    width: 100px;
    color: #ffffff;
    background-color: #1271dd;
    border: #1271dd;
}

.navCabinet {
    width: 120px;
    height: 38px;
    color: #ffffff;
    background-color: #1271dd;
    border: #1271dd;
}
.cabinetBox {
    position: absolute;
    list-style: none;
}

.cabinetBtn1 {
    text-align: center;
    font-size: 13px;
    width: 190px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    background-color: red !important;
    margin-top: 10px;
    transform: translate(8%, 0%);
}

.cabinetBtn1:focus {
    outline: none !important;
}

.cabinetBtn2 {
    text-align: center;
    font-size: 13px;
    width: 190px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1271dd;
    color: #ffffff;
    background-color: #1271dd !important;
    margin-top: 5px;
    transform: translate(8%, 0%);
}
.cabinetBtn2:focus {
    outline: none !important;
}

@media (max-width: 1600px) and (min-width: 1200px) {

    .navCategory:hover{
        border: none!important;
    }

    .navCabinet {
        background-color: #1271dd !important;
        transform: translate(68%, 0%);
    }

    .navCabinet:hover{
        border: none!important;
    }

    .cabinetBox {
        position: absolute !important;
        list-style: none;
    }

    .cabinetBtn1 {
        transform: translate(-15%, 0%);
    }

    .cabinetBtn2 {
        transform: translate(-15%, 0%);
    }

    .navInputGroup {
        width: 50%;
        transform: translate(10%, 0%);
    }
}

@media (max-width: 1200px) and (min-width: 992px) {

    .navCategory:hover{
        border: none!important;
    }

    .navCabinet {
        background-color: #1271dd !important;
        transform: translate(46%, 0%);
    }
    .navCabinet:hover{
        border: none!important;
    }

    .cabinetBox {
        position: absolute !important;
        list-style: none;
    }

    .cabinetBtn1 {
        transform: translate(8%, 0%);
    }

    .cabinetBtn2 {
        transform: translate(8%, 0%);
    }

    .navInputGroup {
        width: 40%;
        transform: translate(10%, 0%);
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    .navCategory {
        transform: translate(0%, 102%);
        width: 100%;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        background-color: #ffffff !important;
        color: #000000;
    }

    .navInputGroup {
        transform: translate(0%, -93%);
        width: 100%;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        background-color: #ffffff !important;
    }

    input[type=text] {
        border: 1px solid #000000;
    }

    input[type=text]:focus {
        border: 1px solid #000000;
        color: #000000 !important;
    }

    .inputBtn {
        width: 100px;
        color: #000000 !important;
        background-color: #ffffff !important;
        border: 1px solid #000000;
    }

    .btnIcon {
        color: #000000 !important;
    }

    .navCabinet {
        width: 100%;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        background-color: #ffffff !important;
        color: #000000;
    }

    .cabinetBox {
        position: unset;
    }

    .cabinetBtn1 {
        transform: translate(-6.2%, -27%);
        width: 106.7%;
        height: 40px;
        line-height: 40px;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        border-right: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        background-color: #ffffff !important;
        color: #000000;
        font-size: 15px;
    }

    .cabinetBtn1:hover {
        color: #000000;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        border-right: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
    }

    .cabinetBtn2 {
        transform: translate(-6.2%, -42%);
        width: 106.7%;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        border-right: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        background-color: #ffffff !important;
        color: #000000;
        font-size: 15px;
    }

    .cabinetBtn2:hover {
        color: #000000;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        border-right: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
    }

    .cabinetBtn:active {
        outline: none !important;
    }
}

@media (max-width: 768px) and (min-width: 576px) {
    .navCategory {
        transform: translate(0%, 102%);
        width: 100%;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        background-color: #ffffff !important;
        color: #000000;
    }

    .navInputGroup {
        transform: translate(0%, -93%);
        width: 100%;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        background-color: #ffffff !important;
    }

    input[type=text] {
        border: 1px solid #000000;
    }

    input[type=text]:focus {
        border: 1px solid #000000;
        color: #000000 !important;
    }

    .inputBtn {
        width: 100px;
        color: #000000 !important;
        background-color: #ffffff !important;
        border: 1px solid #000000;
    }

    .btnIcon {
        color: #000000 !important;
    }

    .navCabinet {
        width: 100%;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        background-color: #ffffff !important;
        color: #000000;
    }

    .cabinetBox {
        position: unset;
    }

    .cabinetBtn1 {
        transform: translate(-9%, -27%);
        width: 110%;
        height: 40px;
        line-height: 40px;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        border-right: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        background-color: #ffffff !important;
        color: #000000;
        font-size: 15px;
    }

    .cabinetBtn1:hover {
        color: #000000;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        border-right: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
    }

    .cabinetBtn2 {
        transform: translate(-9%, -42%);
        width: 110%;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        border-right: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        background-color: #ffffff !important;
        color: #000000;
        font-size: 15px;
    }

    .cabinetBtn2:hover {
        color: #000000;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        border-right: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
    }

    .cabinetBtn:active {
        outline: none !important;
    }
}

@media only screen and (max-width: 576px) and (min-width: 400px) {
    .navCategory {
        transform: translate(0%, 102%);
        width: 100%;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        background-color: #ffffff !important;
        color: #000000;
    }

    .navInputGroup {
        transform: translate(0%, -93%);
        width: 100%;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        background-color: #ffffff !important;
    }

    input[type=text] {
        border: 1px solid #000000;
    }

    input[type=text]:focus {
        border: 1px solid #000000;
        color: #000000 !important;
    }

    .inputBtn {
        width: 100px;
        color: #000000 !important;
        background-color: #ffffff !important;
        border: 1px solid #000000;
    }

    .btnIcon {
        color: #000000 !important;
    }

    .navCabinet {
        width: 100%;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        background-color: #ffffff !important;
        color: #000000;
    }

    .cabinetBox {
        position: unset;
    }

    .cabinetBtn1 {
        transform: translate(-10%, -27%);
        width: 111.3%;
        height: 40px;
        line-height: 40px;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        border-right: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        background-color: #ffffff !important;
        color: #000000;
        font-size: 15px;
    }

    .cabinetBtn1:hover {
        color: #000000;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        border-right: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
    }

    .cabinetBtn2 {
        transform: translate(-10%, -42%) !important;
        width: 111.3%;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        border-right: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        background-color: #ffffff !important;
        color: #000000;
        font-size: 15px;
    }

    .cabinetBtn2:hover {
        color: #000000;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        border-right: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
    }

    .cabinetBtn:active {
        outline: none !important;
    }
}