.cardBox {
    width: 100%;
    height: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 5px!important;
}
.cardBox:hover{
    transform: translateY(15px);
    border-radius: 10px!important;
    box-shadow: 0 20px 25px 10px rgb(190, 190, 190);
    transition: all 1s;
    border: none;
    z-index: 999;
}
.cardImg{
    width: 100%;
    height: 250px;
}
.cardBtn{
    height: 40px;
    width: 100%;
    color: #fff;
    background-color: #0069d9;
    border: none;
    border-radius: 7px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.cardBtn:hover{
    box-shadow: 0 15px 20px #0069d9;
    background-color: rgba(0, 112, 255, 0.78);
    border: 0.1px solid #0069d9;
    color: #fff;
    border-radius: 30px;
    transform: translateY(-6px);
    transition: all 0.7s;
}
.cardBtn:focus{
    outline: none;
}
.seeMore{
    height: 40px;
    width: 35%;
    color: #fff;
    border: none;
    border-radius: 7px;
    background-color: #0069d9;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.seeMore:hover{
    box-shadow: 0 15px 20px #0069d9;
    background-color: rgba(0, 112, 255, 0.78);
    color: #fff;
    border-radius: 30px;
    transform: translateY(-10px);
    transition: all 0.7s;
}
.seeMore:focus{
    outline: none;
}