.signUpFormBox{
    background-color: #f5f5f5 !important;
    transform: translate(0%,10%);
}
.signUpFormBox:hover{
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.20);
    -o-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.20);

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.singUpTitle{
    color: rgb(75, 35, 84)!important;
    text-align: center!important;
}
.signUpForm {
    color: rgb(75, 35, 84)!important;
    border: none!important;
    background-color: #ffffff!important;
    font-size: 18px;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.20);
    -o-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.20);

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.signUpForm:focus{
    border: none!important;
    background-color: #ffffff!important;
    outline: none!important;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.20);
    -o-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.20);

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.signUpBtn{
    background-color: rgba(133, 68, 151, 0.68);
    border: none;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.20);
    -o-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.20);

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.signUpBtn:hover{
    background-color: rgb(75, 35, 84);
}
